@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* Body */
body{
    width: auto;
    height: auto;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
/* INDEX */
/* navbar */
.indexNav{
    margin-left: auto;
    margin-right:3%;
    font-weight: bolder;
}
/* form */
.front {
    margin-top: 5%;
    text-align: center;
}
label {
    margin-left: 20px;
    font-size: 2em;
}
#name{
    margin-left: 20px;
    padding: 10px;
    width: 300px; 
    font-size: 1.2em;
}
#wordsCount{
    margin-left: 10px;
    padding: 10px;
    width: 70px; 
    font-size: 1.2em;
}
#startGame {
    margin-left: 10px;
    padding: 10px;
    background-color: red;
    font-size: 1.2em;
    font-weight: bolder;
}
/* HELP */
.helpHead {
    text-align: center;
    margin-top: 5%;
    color:blue;
    letter-spacing: 5px;
    background-color: rgb(238, 4, 4);
    padding: 20px 0 20px 0;
}
.InstructGame {
    text-align: center;
    margin: 1% 0 2% 0;
}
/* GAME */
/* navbar */
.gameNav{ 
    margin-left: 1%;
    font-size: x-large;
    font-weight: bolder;
}
/* Ganme Image */
.center {
    display: block;
    margin: 5% auto auto auto;
    width: 35%;
}
/* Game Board */
.board-function {
    text-align: center;
    margin-top: 20px;
}
/* Input Box */
#Entry {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    width: 350%;
    padding: 10px;
    font-size: large;
    font-family: "Playfair Display", serif;
}
#Entry:hover {
    background-color: orange;
}
/* Check Button */
#check{
    margin: 20px 0 10px 15px;
    width: 200px;
    padding: 10px;
    background-color: yellow;
    font-size: large;
    font-family: "Playfair Display", serif;
    letter-spacing: 3px;
}
#check:hover {
    background-color: orange;
}

/* Generate and Repeat Button */
#generate, #talk {
    width: 450px;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0 10px 0;
    background-color: green;
    font-size: large;
    color: white;
    font-family: "Playfair Display", serif;
    letter-spacing: 3px;
}
#generate:hover, #talk:hover {
    background-color: orange;
}
/* repeat word button */
#talk {
    margin-left: 30px;
}

/* Game Score Area */
/* Correct Scores */
.scores {
    font-size: x-large;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}
/* Incorrect Scores */
.mistakes {
    font-size: x-large;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}

/* Media Queries */
@media only screen and (min-width: 200px) and (max-width: 667px)  {
    body{
        width: auto;
        height: auto;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }
    /* INDEX */
    /* navbar */
    .indexNav{
        margin-left: auto;
        margin-right:3%;
        font-weight: bolder;
    }
    /* form */
    .front {
        margin-top: 5%;
        text-align: center;
    }
    label {
        margin-left: 2%;
        font-size: 1em;
        font-weight: bolder;
    }
    #name{
        margin-left: 1%;
        margin-bottom: 1%;
        padding: .5%;
        width: 25%; 
        font-size: 0.5em;
    }
    #wordsCount {
        margin-left: 1%;
        padding: .5%;
        width: 10%; 
        font-size: 0.5em;
    }
    #startGame {
        margin-top: 1%;
        margin-left: 1%;
        padding: .5%;
        background-color: red;
        font-size: 0.5em;
        font-weight: bolder;
    }
    /* HELP */
    .helpHead {
        text-align: center;
        margin-top: 5%;
        color:blue;
        letter-spacing: 5px;
        background-color: rgb(238, 4, 4);
        padding: 20px 0 20px 0;
    }
    .InstructGame {
        text-align: center;
        margin: 1% 0 2% 0;
    }
    /* GAME */
    /* navbar */
    .gameNav{ 
        margin-left: 1%;
        font-size: 0.5em;
        font-weight: bolder;
    }
    /* Game Image */
    .center {
        display: block;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
    /* Game Board */
    
    /* Input Box */
    #Entry {
        margin: 1% 1% 1% 5%;
        text-align: center;
        width: 90%;
        padding: .5%;
        font-size: 0.5em;
        font-family: "Playfair Display", serif;
    }
    /* Check Button */
    #check{
        margin: 1% 5% 1% 1%;
        width: 25%;
        padding: .5%;
        background-color: yellow;
        font-size: 0.5em;
        font-family: "Playfair Display", serif;
    }
    
    /* Generate and Repeat Button */
    #generate, #talk {
        width: 45%;
        padding: 0.5%;
        cursor: pointer;
        margin: 1% 5% 1% 5%;
        background-color: green;
        font-size: 0.5em;
        color: white;
        font-family: "Playfair Display", serif;
        letter-spacing: 3px;
    }
    
    /* Game Score Area */
    /* Correct Scores */
    .scores {
        font-size: 0.5em;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
    }
    /* Incorrect Scores */
    .mistakes {
        font-size: 0.5em;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
    }
}
@media screen and (min-width: 668px) and (max-width: 1024px){
    body{
        width: auto;
        height: auto;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }
    /* INDEX */
    /* navbar */
    .indexNav{
        margin-left: auto;
        margin-right:3%;
        font-weight: bolder;
    }
    /* form */
    .front {
        margin-top: 5%;
        text-align: center;
    }
    label {
        margin-left: 2%;
        font-size: 1em;
        font-weight: bolder;
    }
    #name{
        margin-left: 1%;
        margin-bottom: 1%;
        padding: .5%;
        width: 50%; 
        font-size: 0.5em;
    }
    #wordsCount {
        margin-left: 1%;
        padding: .5%;
        width: 10%; 
        font-size: 0.5em;
    }
    #startGame {
        margin-top: 1%;
        margin-left: 1%;
        padding: .5%;
        background-color: red;
        font-size: 0.5em;
        font-weight: bolder;
    }
    /* HELP */
    .helpHead {
        text-align: center;
        margin-top: 5%;
        color:blue;
        letter-spacing: 5px;
        background-color: rgb(238, 4, 4);
        padding: 20px 0 20px 0;
    }
    .InstructGame {
        text-align: center;
        margin: 1% 0 2% 0;
    }
    /* GAME */
    /* navbar */
    .gameNav{ 
        margin-left: 1%;
        font-size: 0.5em;
        font-weight: bolder;
    }
    /* Game Image */
    .center {
        display: block;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
    /* Game Board */
    
    /* Input Box */
    #Entry {
        margin: 1% 1% 1% 5%;
        text-align: center;
        width: 90%;
        padding: .5%;
        font-size: 0.5em;
        font-family: "Playfair Display", serif;
    }
    /* Check Button */
    #check{
        margin: 1% 5% 1% 1%;
        width: 25%;
        padding: .5%;
        background-color: yellow;
        font-size: 0.5em;
        font-family: "Playfair Display", serif;
    }
    
    /* Generate and Repeat Button */
    #generate, #talk {
        width: 45%;
        padding: 0.5%;
        cursor: pointer;
        margin: 1% 5% 1% 5%;
        background-color: green;
        font-size: 0.5em;
        color: white;
        font-family: "Playfair Display", serif;
        letter-spacing: 3px;
    }
    
    /* Game Score Area */
    /* Correct Scores */
    .scores {
        font-size: 0.5em;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
    }
    /* Incorrect Scores */
    .mistakes {
        font-size: 0.5em;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
    }
}
@media screen and (mamin-width: 1025px)and (max-width: 1200px){
    body{
        width: auto;
        height: auto;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }
    /* INDEX */
    /* navbar */
    .indexNav{
        margin-left: auto;
        margin-right:3%;
        font-weight: bolder;
    }
    /* form */
    .front {
        margin-top: 5%;
        text-align: center;
    }
    label {
        margin-left: 2%;
        font-size: 1em;
        font-weight: bolder;
    }
    #name{
        margin-left: 1%;
        margin-bottom: 1%;
        padding: .5%;
        width: 50%; 
        font-size: 0.5em;
    }
    #wordsCount {
        margin-left: 1%;
        padding: .5%;
        width: 10%; 
        font-size: 0.5em;
    }
    #startGame {
        margin-top: 1%;
        margin-left: 1%;
        padding: .5%;
        background-color: red;
        font-size: 0.5em;
        font-weight: bolder;
    }
    /* HELP */
    .helpHead {
        text-align: center;
        margin-top: 5%;
        color:blue;
        letter-spacing: 5px;
        background-color: rgb(238, 4, 4);
        padding: 20px 0 20px 0;
    }
    .InstructGame {
        text-align: center;
        margin: 1% 0 2% 0;
    }
    /* GAME */
    /* navbar */
    .gameNav{ 
        margin-left: 1%;
        font-size: 0.5em;
        font-weight: bolder;
    }
    /* Game Image */
    .center {
        display: block;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
    /* Game Board */
    
    /* Input Box */
    #Entry {
        margin: 1% 1% 1% 5%;
        text-align: center;
        width: 90%;
        padding: .5%;
        font-size: 0.5em;
        font-family: "Playfair Display", serif;
    }
    /* Check Button */
    #check{
        margin: 1% 5% 1% 1%;
        width: 25%;
        padding: .5%;
        background-color: yellow;
        font-size: 0.5em;
        font-family: "Playfair Display", serif;
    }
    
    /* Generate and Repeat Button */
    #generate, #talk {
        width: 45%;
        padding: 0.5%;
        cursor: pointer;
        margin: 1% 5% 1% 5%;
        background-color: green;
        font-size: 0.5em;
        color: white;
        font-family: "Playfair Display", serif;
        letter-spacing: 3px;
    }
    
    /* Game Score Area */
    /* Correct Scores */
    .scores {
        font-size: 0.5em;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
    }
    /* Incorrect Scores */
    .mistakes {
        font-size: 0.5em;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
    }
}